html, body, h1, form, fieldset, input {
 margin: 0;
 padding: 0;
 border: none;
 }

div#user_column {
    float: left;
    width: 660px;
    height : 680px;
    /*background: lightblue;*/
    border:1px dotted black;
    border-radius: 10px;
}

div#driver_column {
    float: right;
    width: 660px;
    height : 680px;
    /*background: burlywood;*/
    border:1px dotted black;
    border-radius: 10px;
}

a{
     font-family: Arial,sans-serif;
     font-size: 1.6em;
     width: 200px;
     height: 43px;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: #123;
     background: #444;
     background: #444;
     background: -webkit-linear-gradient( #555, #2C2C2C);
     background:    -moz-linear-gradient( #555, #2C2C2C);
     background:     -ms-linear-gradient( #555, #2C2C2C);
     background:      -o-linear-gradient( #555, #2C2C2C);
     background:         linear-gradient( #555, #2C2C2C);
     border-radius: 8px;
     text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
     box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

a:hover{
     color: #222;
     background: #555;
     background: -webkit-linear-gradient( #777, #333);
     background:    -moz-linear-gradient( #777, #333);
     background:     -ms-linear-gradient( #777, #333);
     background:      -o-linear-gradient( #777, #333);
     background:         linear-gradient( #777, #333);
}

a:active{
     color: #333;
     background: #444;
     background: -webkit-linear-gradient( #555, #2C2C2C);
     background:    -moz-linear-gradient( #555, #2C2C2C);
     background:     -ms-linear-gradient( #555, #2C2C2C);
     background:      -o-linear-gradient( #555, #2C2C2C);
     background:         linear-gradient( #555, #2C2C2C);
     box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}

#container {
    color: #fff;
    background: #2d2d2d;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(60,60,60)),
        color-stop(0.74, rgb(43,43,43)),
        color-stop(1, rgb(60,60,60))
        );
     background: -moz-linear-gradient(
        center bottom,
        rgb(60,60,60) 0%,
        rgb(43,43,43) 74%,
        rgb(60,60,60) 100%
        );
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     margin: 10px;
     width: 430px;
     }
 
 #container a {
      color: #8c910b;
      text-shadow: 0px -1px 0px #000;
      }
 
#container fieldset {
      padding: 20px;
      }
    
input.text {
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     border-radius: 15px;
     border:solid 1px #444;
     font-size: 14px;
     width: 90%;
     padding: 7px 8px 7px 8px;
     background: #ddd;
     background: -moz-linear-gradient(
          center bottom,
          rgb(225,225,225) 0%,
          rgb(215,215,215) 54%,
          rgb(173,173,173) 100%
     );
     background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(225,225,225)),
          color-stop(0.54, rgb(215,215,215)),
          color-stop(1, rgb(173,173,173))
      );
      color:#333;
      text-shadow:0px 1px 0px #FFF;
      -moz-box-shadow: 0px 1px 0px #777;
      -webkit-box-shadow: 0px 1px 0px #777;
      box-shadow: 0px 1px 0px #777;
 }
 
 #container h2 {
color: #fff;
text-shadow: 0px -1px 0px #000;
text-align: center;
padding: 18px;
margin: 0px;
font-weight: normal;
      font-size: 24px;
      font-family: Lucida Grande, Helvetica, Arial, sans-serif;
border-bottom: solid #181818 1px;
-moz-box-shadow: 0px 1px 0px #3a3a3a;
-webkit-box-shadow: 0px 1px 0px #3a3a3a;
box-shadow: 0px 1px 0px #3a3a3a;
      }  
  


